.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    bottom: -65%;
  }
}

@media screen and (max-width: 989px) {
  .newsletter-form__button {
    width: 100%;
    margin: 1.4rem 0 0 0;
  }
}
