{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.id }}" class="cart-notification-product__item">
      {% if item.image %}
          <div class="cart-notification-product__image-wrapper">
              <img class="cart-notification-product__image-wrapper__image"
                   src="{{ item.image | img_url: '140x' }}"
                   alt="{{ item.image.alt | escape }}"
                   width="70"
                   height="{{ 70 | divided_by: item.image.aspect_ratio | ceil }}"
                   loading="lazy"
              >
          </div>
      {% endif %}
      <div class="cart-notification-product__info">
          {% if item.quantity > 1 %}
        <p class="cart-notification-product__name">{{ item.product.title | escape }} <span class="cart-notification-product__quantity">x{{ item.quantity }}</span></p>
          {% else %}
              <p class="cart-notification-product__name">{{ item.product.title | escape }}</p>
          {% endif %}
        {%- unless item.product.has_only_default_variant -%}
          <dl>
            {%- for option in item.options_with_values -%}
              <div class="cart-notification-product__option">
                <dd>{{ option.value }}</dd>
              </div>
            {%- endfor -%}
          </dl>
        {%- endunless -%}
          <div class="cart-notification-product__price">
              {% if item.product.compare_at_price_max > item.product.price %}
                  <span class="cart-notification-product__price">{{ item.product.price | money  }}</span>
                  <span class="cart-notification-product__price cart-notification-product__price--old">{{ item.product.compare_at_price | money }}</span>
              {% else %}
                  <span class="cart-notification-product__price">{{ item.product.price | money  }}</span>
              {% endif %}
          </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
