<ul id="cart-notification-summary" class="cart-notification-summary">
    <li class="cart-notification-summary__item">
        <p class="cart-notification-summary__text">Subtotal</p>
        <p class="cart-notification-summary__text">{{ cart.items_subtotal_price | money }}</p>
    </li>
    <li class="cart-notification-summary__item">
        <p class="cart-notification-summary__text">Discount</p>
        <p class="cart-notification-summary__text">{{ cart.total_discount | money }}</p>
    </li>
    <li class="cart-notification-summary__item">
        <p class="cart-notification-summary__text cart-notification-summary__text cart-notification-summary__text--total">Total</p>
        <p class="cart-notification-summary__text cart-notification-summary__text cart-notification-summary__text--total">{{ cart.total_price | money }}</p>
    </li>
</ul>