<div class="collection-featured">
    {% if section.settings.title %}
        <div class="collection-featured__heading-wrapper">
            <h3 class="collection-featured__heading">{{ section.settings.title | escape }}</h3>
        </div>
        <ul class="grid-collection">
            {%- for product in section.settings.collection.products limit: section.settings.amount_products_on_the_page -%}
                <li class="grid-collection__item">
                    {% render 'featured-product',
                            product: product
                    %}
                </li>
            {%- endfor -%}
        </ul>
        <div class="collection-featured__button-wrapper">
            <a href="{{ section.settings.collection.url }}"
               class="button--full-width button button{%- if section.settings.button_style == 'primary' -%}--primary
                {%- else -%}-secondary{%- endif -%}">
                {%- if section.settings.cta_label -%}
                    {{ section.settings.cta_label }}
                {%- else -%}
                    See all
                {%- endif -%}
            </a>
        </div>
    {%- endif -%}
</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
"name": "Featured products section",
"tag": "section",
"class": "spaced-section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Featured collection",
"label": "Heading collection"
},
{
"type": "collection",
"id": "collection",
"label": "Choose collection"
},
{
"type": "select",
"id": "amount_products_on_the_page",
"options": [
{
"value": "8",
"label": "8"
},
{
"value": "4",
"label": "4"
}
],
"default": "4",
"label": "Amount products on the page"
},
{
"type": "text",
"id": "cta_label",
"default": "See all",
"label": "CTA button label text"
},
{
"type": "select",
"id": "button_style",
"options": [
{
"value": "primary",
"label": "Primary style"
},
{
"value": "secondary",
"label": "Secondary style"
}
],
"default": "primary",
"label": "CTA button style"
}
],
"presets": [
{
"name": "Featured products section"
}
]
}

{% endschema %}