<footer class="footer">
    {%- for block in section.blocks -%}
        {%- if block.type == 'menu' -%}
            {%- if block.settings.link_1_heading != blank or block.settings.link_2_heading != blank
            or block.settings.link_3_heading != blank or block.settings.link_4_heading != blank -%}
                <div class="footer__links-block">
                    <p class="footer__heading">{{ block.settings.col_heading }}</p>
                    <ul class="footer__links-list">
                        {%- if block.settings.link_1_heading != blank -%}
                            <li class="footer__item">
                                <a href="{{ block.settings.link_1_url }}" class="footer__link">{{ block.settings.link_1_heading }}</a>
                            </li>
                        {%- endif -%}
                        {%- if block.settings.link_2_heading != blank -%}
                            <li class="footer__item">
                                <a href="{{ block.settings.link_2_url }}" class="footer__link">{{ block.settings.link_2_heading }}</a>
                            </li>
                        {%- endif -%}
                        {%- if block.settings.link_3_heading != blank -%}
                            <li class="footer__item">
                                <a href="{{ block.settings.link_3_url }}" class="footer__link">{{ block.settings.link_3_heading }}</a>
                            </li>
                        {%- endif -%}
                        {%- if block.settings.link_4_heading != blank -%}
                            <li class="footer__item">
                                <a href="{{ block.settings.link_4_url }}" class="footer__link">{{ block.settings.link_4_heading }}</a>
                            </li>
                        {%- endif -%}
                    </ul>
                </div>
            {%- endif -%}
        {%- endif -%}

        {%- if block.type == 'text' -%}
            {%- if block.settings.col_heading != blank or block.settings.icons_footer_info_1 != blank
            or block.settings.icons_footer_info_2 != blank or block.settings.icons_footer_info_3 != blank
            or block.settings.icons_footer_info_4 != blank -%}
                <div class="footer__contact">
                    <p class="footer__heading">{{ block.settings.col_contact_heading }}</p>
                    <ul class="footer__links-list">
                        {%- if block.settings.icons_footer_info_1 != blank -%}
                            <li class="footer__contact-item">
                                {%- if block.settings.icons_footer_icon_1 != blank -%}
                                    <img class="footer__icon"
                                         src="{{ block.settings.icons_footer_icon_1 | img_url: '100x' }}"
                                         alt="{{ block.settings.icons_footer_icon_1.alt }}"/>
                                {%- endif -%}
                                <p class="footer__info">{{ block.settings.icons_footer_info_1 }}</p>
                            </li>
                        {%- endif -%}
                        {%- if block.settings.icons_footer_info_2 != blank -%}
                            <li class="footer__contact-item">
                                {%- if block.settings.icons_footer_icon_2 != blank -%}
                                    <img class="footer__icon"
                                         src="{{ block.settings.icons_footer_icon_2 | img_url: '100x' }}"
                                         alt="{{ block.settings.icons_footer_icon_2.alt }}"/>
                                {%- endif -%}
                                <p class="footer__info">{{ block.settings.icons_footer_info_2 }}</p>
                            </li>
                        {%- endif -%}
                        {%- if block.settings.icons_footer_info_3 != blank -%}
                            <li class="footer__contact-item">
                                {%- if block.settings.icons_footer_icon_3 != blank -%}
                                    <img class="footer__icon"
                                         src="{{ block.settings.icons_footer_icon_3 | img_url: '100x' }}"
                                         alt="{{ block.settings.icons_footer_icon_3.alt }}"/>
                                {%- endif -%}
                                <p class="footer__info">{{ block.settings.icons_footer_info_3 }}</p>
                            </li>
                        {%- endif -%}
                        {%- if block.settings.icons_footer_info_4 != blank -%}
                            <li class="footer__contact-item">
                                {%- if block.settings.icons_footer_icon_4 != blank -%}
                                    <img class="footer__icon"
                                         src="{{ block.settings.icons_footer_icon_4 | img_url: '100x' }}"
                                         alt="{{ block.settings.icons_footer_icon_4.alt }}"/>
                                {%- endif -%}
                                <p class="footer__info">{{ block.settings.icons_footer_info_4 }}</p>
                            </li>
                        {%- endif -%}
                    </ul>
                </div>
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
</footer>

{% schema %}
{
"name": "Footer",
"max_blocks": 4,
"blocks": [
{
"type": "menu",
"name": "Heading and link",
"settings": [
{
"type": "text",
"id": "col_heading",
"label": "Column heading"
},
{
"type": "header",
"content": "Link 1"
},
{
"type": "text",
"id": "link_1_heading",
"label": "Link label"
},
{
"type": "url",
"id": "link_1_url",
"label": "URL link"
},
{
"type": "header",
"content": "Link 2"
},
{
"type": "text",
"id": "link_2_heading",
"label": "Link label"
},
{
"type": "url",
"id": "link_2_url",
"label": "URL link"
},
{
"type": "header",
"content": "Link 3"
},
{
"type": "text",
"id": "link_3_heading",
"label": "Link label"
},
{
"type": "url",
"id": "link_3_url",
"label": "URL link"
},
{
"type": "header",
"content": "Link 4"
},
{
"type": "text",
"id": "link_4_heading",
"label": "Link label"
},
{
"type": "url",
"id": "link_4_url",
"label": "URL link"
}
]
},
{
"type": "text",
"name": "Contact info and icon",
"limit": 1,
"settings": [
{
"type": "text",
"id": "col_contact_heading",
"label": "Column heading"
},
{
"type": "image_picker",
"id": "icons_footer_icon_1",
"label": "Icon"
},
{
"type": "text",
"id": "icons_footer_info_1",
"label": "Heading"
},
{
"type": "image_picker",
"id": "icons_footer_icon_2",
"label": "Icon"
},
{
"type": "text",
"id": "icons_footer_info_2",
"label": "Heading"
},
{
"type": "image_picker",
"id": "icons_footer_icon_3",
"label": "Icon"
},
{
"type": "text",
"id": "icons_footer_info_3",
"label": "Heading"
},
{
"type": "image_picker",
"id": "icons_footer_icon_4",
"label": "Icon"
},
{
"type": "text",
"id": "icons_footer_info_4",
"label": "Heading"
}
]
}
]
}

{% endschema %}
