{%- assign grid_size = 0 -%}
{% for block in section.blocks %}
    {% if block.settings.banner_image != blank %}
    {%- assign grid_size = grid_size | plus: 1 -%}
    {%- endif -%}
{% endfor %}

<section class="grid-section" role="contentinfo">
    {% if grid_size == 4 %}

    <div class="wrapper grid-size-{{ grid_size }}">
        {%- assign blocksAmount = 0 -%}
        {% for block in section.blocks %}
            {% if block.settings.banner_image != blank %}
                {%- assign blocksAmount = blocksAmount | plus: 1 -%}
            {%- endif -%}
            {% case block.type %}
                {% when 'text' %}
                    {% if blocksAmount == 1 and block.settings.banner_image != blank %}
                        <div class="item">
                            <img class="item__background" src="{{ block.settings.banner_image | img_url: '700x'}}" />
                            {%- if block.settings.banner_subtitle != blank or block.settings.banner_title != blank or block.settings.banner_colored_title != blank -%}
                                <div class="item__text">
                                    <p class="item__subtitle">{{ block.settings.banner_subtitle }}</p>
                                    <a class="item__link" href="{{ block.settings.banner_link }}">
                                        <h3 class="item__title">{{ block.settings.banner_title }}</h3>
                                        <h3 class="item__title item__title--colored" style="color: {{ block.settings.banner_color_text }}">{{ block.settings.banner_colored_title }}</h3>
                                    </a>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
            {% endcase %}
        {% endfor %}
        <div class="inner-wrapper-{{ grid_size }}">
            {% for block in section.blocks %}
                {% if block.settings.banner_image != blank %}
                    {%- assign blocksAmount = blocksAmount | plus: 1 -%}
                {%- endif -%}
                {% case block.type %}
                    {% when 'text' %}
                        {% if forloop.first == false and blocksAmount > 2 and block.settings.banner_image != blank %}
                            <div class="item">
                                <img class="item__background" src="{{ block.settings.banner_image | img_url: '700x'}}" />
                                {%- if block.settings.banner_subtitle != blank or block.settings.banner_title != blank or block.settings.banner_colored_title != blank -%}
                                    <div class="item__text">
                                        <p class="item__subtitle">{{ block.settings.banner_subtitle }}</p>
                                        <a class="item__link" href="{{ block.settings.banner_link }}">
                                            <h3 class="item__title">{{ block.settings.banner_title }}</h3>
                                            <h3 class="item__title item__title--colored" style="color: {{ block.settings.banner_color_text }}">{{ block.settings.banner_colored_title }}</h3>
                                        </a>
                                    </div>
                                {%- endif -%}
                            </div>
                        {% endif %}
                {% endcase %}
            {% endfor %}
        </div>
    </div>

    {%- else -%}

    <div class="wrapper grid-size-{{ grid_size }}">
        {%- assign blocksAmount = 0 -%}
        {% for block in section.blocks %}
        {% if block.settings.banner_image != blank %}
            {%- assign blocksAmount = blocksAmount | plus: 1 -%}
        {%- endif -%}
            {% case block.type %}
                {% when 'text' %}
                    {% if blocksAmount > 0 and block.settings.banner_image != blank %}
                        <div class="item">
                            <img class="item__background" src="{{ block.settings.banner_image | img_url: '700x'}}" />
                            {%- if block.settings.banner_subtitle != blank or block.settings.banner_title != blank or block.settings.banner_colored_title != blank -%}
                            <div class="item__text">
                                <p class="item__subtitle">{{ block.settings.banner_subtitle }}</p>
                                <a class="item__link" href="{{ block.settings.banner_link }}">
                                    <h3 class="item__title">{{ block.settings.banner_title }}</h3>
                                    <h3 class="item__title item__title--colored" style="color: {{ block.settings.banner_color_text }}">{{ block.settings.banner_colored_title }}</h3>
                                </a>
                            </div>
                            {%- endif -%}
                        </div>
                        {%- endif -%}
            {% endcase %}
        {% endfor %}
    </div>
</section>

{% endif %}

{% schema %}
{
"name": "Grid section",

"max_blocks": 4,
"blocks": [
{
"type": "text",
"name": "Banner with title and img",

"settings": [
{
"type": "text",
"id": "banner_title",
"label": "Title"
},
{
"type": "text",
"id": "banner_colored_title",
"label": "Colored text - second part of title"
},
{
"type": "color",
"id": "banner_color_text",
"label": "Text color",
"default": "#000000"
},
{
"type": "text",
"id": "banner_subtitle",
"label": "Subtitle"
},
{
"type": "image_picker",
"id": "banner_image",
"label": "Background image"
},
{
"type": "url",
"id": "banner_link",
"label": "URL link"
}
]
}
]
}
{% endschema %}