<style>
    .icons-bar {
        background-color: {{ section.settings.background_color }};
        padding-top: {{ section.settings.vertical_padding }}px;
        padding-bottom: {{ section.settings.vertical_padding }}px;
        {% if section.settings.show_shadow_effect %} box-shadow: 0 4px 6px hsla(0, 0%, 0%, .7),
        0 5px 15px hsla(0, 0%, 0%, .1);}
        {% endif %}
</style>

{% if  section.blocks.size > 0 %}
    <div class="icons-bar">
        {% for block in section.blocks %}
            {% if block.settings.icons_bar_title != blank and block.settings.icons_bar_icon != blank or
            block.settings.icons_bar_subtitle != blank and block.settings.icons_bar_icon != blank %}
                <div class="icons-bar__block">
                    <img class="icons-bar__icon" src="{{ block.settings.icons_bar_icon | img_url: '100x'}}"
                         alt="{{ block.settings.icons_bar_icon.alt }}"/>
                    <div class="icons-bar__text-wrapper">
                        <p class="icons-bar__title">{{ block.settings.icons_bar_title }}</p>
                        <p class="icons-bar__subtitle">{{ block.settings.icons_bar_subtitle }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% schema %}

{
"name": "Icons bar",
"settings": [
{
"type": "checkbox",
"id": "show_shadow_effect",
"label": "Show shadow effect",
"default": true
},
{
"type": "color",
"id": "background_color",
"label": "Background color",
"default": "#ffffff"
},
{
"type": "range",
"id": "vertical_padding",
"min": 0,
"max": 50,
"step": 10,
"default": 10,
"label": "Vertical padding of the section"
}
],

"max_blocks": 4,
"blocks": [
{
"type": "text",
"name": "Heading and icon",

"settings": [
{
"type": "image_picker",
"id": "icons_bar_icon",
"label": "Icon"
},
{
"type": "text",
"id": "icons_bar_title",
"label": "Heading"
},
{
"type": "text",
"id": "icons_bar_subtitle",
"label": "Subtitle"
}
]
}
],
"presets": [
{
"name": "Icons bar"
}
]
}

{% endschema %}