<div id="login-popup" class="login-popup">
    {% include 'account-popup' %}
    <div class="login-form-wrapper">
        <div class="login-popup__text-wrapper">
            <p class="login-popup__text">If you have an account with us, please log in.</p>
        </div>
        <div id="errors"></div>
        <form class="login-form" id="login-form">
            <div class="email login-form__group">
                <label for="email">Email</label>
                <input class="user-email" type="email" name="customer[email]" placeholder="Enter your email" id="customer_email">
            </div>
            <div class="password login-form__group">
                <div class="login-form__label-wrapper">
                    <label for="password">Password</label>
                    <a class="login-form__forget-password" href="#recover">
                        Lost your password?
                    </a>
                </div>
                <input class="user-password" type="password" name="customer[password]" placeholder="Your password" id="customer_password">
            </div>
            <div class="login-form__submit">
                <button class="submit-login button button--primary button--full-width" type="submit">Login</button>
            </div>
        </form>
        <div class="login-form__decoration-wrapper">
            <p class="login-popup__text login-popup__text--with-decoration">or</p>
        </div>
    </div>
    <div class="login-popup__new-customer-wrapper">
        <p class="login-popup__text">New Customer?</p>
        <button class="button-secondary button--full-width register-button">
            {{ 'customer.login_page.create_account' | t }}
        </button>
    </div>
</div>


