<style>
    .newsletter-promo {
        background: {% if section.settings.newsletter_background_color contains 'rgba(0,0,0,0)' and section.settings.newsletter_background_img == blank
        or section.settings.newsletter_background_color contains 'rgba(0,0,0,0)' %} linear-gradient(180deg, #F3F2F2 0%, #DCDBDB 100%)
    {% else %} {{ section.settings.newsletter_background_color }} {% endif %};
    }

    .newsletter-promo__title--colored {
        color: {{ section.settings.newsletter_color_text }};
    }
</style>

<section class="newsletter-promo">
    {% if section.settings.newsletter_background_img != blank and section.settings.newsletter_background_color != blank
            or section.settings.newsletter_background_img != blank %}
        <img class="newsletter-promo__background" src="{{ section.settings.newsletter_background_img | img_url: '700x'}}" alt="{{ section.settings.newsletter_background_img.alt }}"  />
    {% endif %}
    {% if section.settings.newsletter_foreground_img != blank %}
        <img class="newsletter-promo__foreground-img" src="{{ section.settings.newsletter_foreground_img | img_url: '700x'}}" alt="{{ section.settings.newsletter_foreground_img.alt }}" />
    {% endif %}
    <div class="newsletter-promo__container">
        <div class="newsletter-promo__text-wrapper">
            <p class="newsletter-promo__subtitle subtitle">{{ section.settings.newsletter_subtitle }}</p>
            <div class="newsletter-promo__title-wrapper">
                <h2 class="newsletter-promo__title">{{ section.settings.newsletter_title }}</h2>
                <h2 class="newsletter-promo__title newsletter-promo__title--colored">{{ section.settings.newsletter_colored_title}}</h2>
            </div>
        </div>
    </div>
    <div class="newsletter-promo__newsletter-wrapper">
        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form newsletter-promo__form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="newsletter-form__field-wrapper">
                <div class="field">
                    <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                            {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                            {% endif %}
                            placeholder="Enter your email"
                            required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                    </label>
                </div>
                {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
            </div>
            <button type="submit" class="button button--primary newsletter-form__button button--full-width" name="commit" id="Subscribe">
                {{ 'newsletter.button_label' | t }}
            </button>
            {%- if form.posted_successfully? -%}
                <p class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</>
            {%- endif -%}
        {%- endform -%}
    </div>
</section>

{% schema %}
{
"name": "Newsletter/promo",
"settings": [
{
"type": "image_picker",
"id": "newsletter_foreground_img",
"label": "Foreground image",
"info": "Foreground image image should be a PNG file or has a transparent background"
},
{
"type": "color",
"id": "newsletter_background_color",
"label": "Background color",
"info": "Choose background color or background image. If you choose both, the background image will be rendered"
},
{
"type": "image_picker",
"id": "newsletter_background_img",
"label": "Background image"
},
{
"type": "text",
"id": "newsletter_title",
"label": "Title"
},
{
"type": "text",
"id": "newsletter_colored_title",
"label": "Colored text - second part of title"
},
{
"type": "color",
"id": "newsletter_color_text",
"label": "Text color",
"default": "#000000"
},
{
"type": "text",
"id": "newsletter_subtitle",
"label": "Subtitle"
}
],
"presets": [
{
"name": "Newsletter/promo",
"category": "Newsletter / promo"
}
]
}

{% endschema %}