<div id="register-popup" class="register-popup">
    {% include 'account-popup' %}
    <div class="login-form-wrapper">
        <div class="register-errors"></div>
        <form class="login-form" id="register-form">
            <div class="first-name login-form__group login-form__group--with-margin">
                <label for="first-name">First name</label>
                <input class="user-name" type="text" name="customer[first_name]" placeholder="First name" required>
            </div>
            <div class="email login-form__group login-form__group--with-margin">
                <label for="last-name">Last name</label>
                <input class="user-last-name" type="text" name="customer[last_name]" placeholder="Last name" required>
            </div>
            <div class="email login-form__group login-form__group--with-margin">
                <label for="email">Email</label>
                <input class="user-register-email" type="email" name="customer[email]" placeholder="Enter your email" required>
            </div>
            <div class="password login-form__group login-form__group--with-margin">
                <label for="password">Password</label>
                <input class="user-register-password" type="password" name="customer[password]" placeholder="Your password" required>
            </div>
            <div class="login-form__submit">
                <button class="submit-login button button--primary button--full-width" type="submit">Create</button>
            </div>
        </form>
    </div>
    <p class="login-popup__text back">Back to login</p>
</div>


