<style>
    .top-bar {
        background-color: {{ section.settings.background_color }};
        justify-content: {{ section.settings.horizontal_align }};
    }

    .top-bar__text {
        color: {{ section.settings.font_color }};
    }

</style>
{%- if section.settings.show_top_bar -%}
    <div class="top-bar">
        {% for block in section.blocks %}
            <div class="top-bar__block">
                <h3 class="top-bar__text">{{ block.settings.top_bar_info }}</h3>
                <img class="top-bar__icon" src="{{ block.settings.top_bar_icon | img_url }}" alt="{{ block.settings.top_bar_icon.alt }}"/>
            </div>
        {% endfor %}
    </div>
{%- endif -%}

{% schema %}

{
"name": "Top bar",
"settings": [
{
"type": "checkbox",
"id": "show_top_bar",
"label": "Show top bar",
"default": true
},
{
"type": "color",
"id": "background_color",
"label": "Background color",
"default": "#000000"
},
{
"type": "select",
"id": "horizontal_align",
"options": [
{
"value": "flex-start",
"label": "Left"
},
{
"value": "center",
"label": "Center"
},
{
"value": "flex-end",
"label": "Right"
}
],
"default": "flex-start",
"label": "Horizontal align"
},
{
"type": "color",
"id": "font_color",
"label": "Font color",
"default": "#ffffff"
}
],

"max_blocks": 3,
"blocks": [
{
"type": "text",
"name": "Heading and icon",

"settings": [
{
"type": "image_picker",
"id": "top_bar_icon",
"label": "Icon"
},
{
"type": "text",
"id": "top_bar_info",
"label": "Heading"
}
]
}
]
}

{% endschema %}