<div class="account-popup">
    <p class="account-popup__title">Login/Registration</p>
    <button id="button-close" type="button" class="login-form-close register-form-close account-popup__close modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
        <svg class="icon icon-close" aria-hidden="true" focusable="false"><use href="#icon-close"></svg>
    </button>
</div>