{% unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' %}

    {% assign t = template | split: '.' | first %}

    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
        <ul class="breadcrumbs-nav">
            <li class="breadcrumbs-nav__item">
                <a class="breadcrumbs-nav__link home" href="/" title="Home">Home</a>
            </li>

            {% case t %}

                {% when 'collection' %}
                    <li class="breadcrumbs-nav__item">
                        <a class="breadcrumbs-nav__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
                    </li>

                {% when 'product' %}
                    <li class="breadcrumbs-nav__item">
                        <a class="breadcrumbs-nav__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                    </li>

                {% when 'page' %}
                    <li class="breadcrumbs-nav__item">
                        <a class="breadcrumbs-nav__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                    </li>
            {% endcase %}

        </ul>
    </nav>
{% endunless %}