{% style %}
    {{ settings.type_body_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}

    :root {
    {% comment %}TYPOGRAPHY{% endcomment %}
    --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
    --font-body-style: {{ settings.type_body_font.style }};
    --font-body-weight: {{ settings.type_body_font.weight }};

    --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
    --font-heading-style: {{ settings.type_header_font.style }};
    --font-heading-weight: {{ settings.type_header_font.weight }};

    --heading-1-font-size: {{ settings.heading_1_font_size }}px;
    --heading-1-line-height: {{ settings.heading_1_font_line_height }}px;
    --heading-2-font-size: {{ settings.heading_2_font_size }}px;
    --heading-2-line-height: {{ settings.heading_2_font_line_height }}px;
    --heading-3-font-size: {{ settings.heading_3_font_size }}px;
    --heading-3-line-height: {{ settings.heading_3_font_line_height }}px;
    --heading-4-font-size: {{ settings.heading_4_font_size }}px;
    --heading-4-line-height: {{ settings.heading_4_font_line_height }}px;
    --heading-5-font-size: {{ settings.heading_5_font_size }}px;
    --heading-5-line-height: {{ settings.heading_5_font_line_height }}px;
    --heading-6-font-size: {{ settings.heading_6_font_size }}px;
    --heading-6-line-height: {{ settings.heading_6_font_line_height }}px;

    {% comment %}COLORS{% endcomment %}
    --color-base-text: {{ settings.colors_text }};
    --color-base-text-rgb: {{ settings.colors_text | color_to_rgb | remove: 'rgb(' | remove: ')' }};

    --color-base-solid-button-labels: {{ settings.colors_solid_button_labels }};
    --color-base-solid-button-labels-rgb: {{ settings.colors_solid_button_labels | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-base-outline-button-labels: {{ settings.colors_outline_button_labels }};
    --color-base-outline-button-labels-rgb: {{ settings.colors_outline_button_labels | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-base-accent-1: {{ settings.colors_accent_primary }};
    --color-base-accent-1-rgb: {{ settings.colors_accent_primary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-base-accent-2: {{ settings.colors_accent_secondary }};
    --color-base-accent-2-rgb: {{ settings.colors_accent_secondary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-primary: {{ settings.colors_primary }};
    --color-primary-rgb: {{ settings.colors_primary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-secondary: {{ settings.colors_secondary }};
    --color-secondary-rgb: {{ settings.colors_secondary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-tertiary: {{ settings.colors_tertiary }};
    --color-base-text-opacity-10-percent: {{ settings.colors_text | color_mix: settings.colors_background_1, 10 }};
    --color-base-text-opacity-20-percent: {{ settings.colors_text | color_mix: settings.colors_background_1, 20 }};
    --color-base-text-opacity-55-percent: {{ settings.colors_text | color_mix: settings.colors_background_1, 55 }};
    --color-base-text-opacity-85-percent: {{ settings.colors_text | color_mix: settings.colors_background_1, 85 }};
    --color-base-accent-1-opacity-10-percent: {{ settings.colors_accent_1 | color_mix: settings.colors_background_1, 10 }};
    --color-base-accent-2-opacity-10-percent: {{ settings.colors_accent_2 | color_mix: settings.colors_background_1, 10 }};

    {% comment %}BACKGROUND COLORS{% endcomment %}
    --color-base-background-1: {{ settings.colors_background_1 }};
    --color-base-background-1-rgb: {{ settings.colors_background_1 | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --color-base-background-2: {{ settings.colors_background_2 }};
    --color-base-background-2-rgb: {{ settings.colors_background_2 | color_to_rgb | remove: 'rgb(' | remove: ')' }};
    --background-color-primary: {{ settings.colors_primary }};
    --background-color-secondary: {{ settings.colors_secondary }};
    --background-color-tertiary: {{ settings.colors_tertiary }};
    --background-color-accent: {{ settings.colors_solid_button_labels }};
    }
{% endstyle %}