<div class="featured-product" id="{{ product.id }}">
    <a href="{{ product.url | default: '#' }}" class="full-unstyled-link">
        <div class="featured-product__wrapper">
            {%- if product.featured_media -%}
                <div class="featured-product__img-wrapper">
                    <img src="{{ product.featured_media | img_url: '250x' }}"
                         alt="{{ product.featured_media.alt | escape }}">
                </div>
            {%- else -%}
                <div class="featured-product__img-wrapper">
                    <h2>{{ product.title }}</h2>
                </div>
            {%- endif -%}
            <div class="featured-product__details">
                <div class="featured-product__title"><p>{{ product.title }}</p></div>
                <div class="featured-product__price">
                    {% if product.compare_at_price_max > product.price %}
                        <span class="featured-product__price">{{ product.price | money }}</span>
                        <span class="featured-product__price featured-product__price--old">{{ product.compare_at_price | money }}</span>
                    {% else %}
                        <span class="featured-product__price">{{ product.price | money }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    <div class="details-hover">
        <p class="featured-product__title">{{ product.title }}</p>
        <div class="featured-product__price">
            {% if product.compare_at_price_max > product.price %}
                <span class="featured-product__price">{{ product.price | money }}</span>
                <span class="featured-product__price featured-product__price--old">{{ product.compare_at_price | money }}</span>
            {% else %}
                <span class="featured-product__price">{{ product.price | money }}</span>
            {% endif %}
        </div>
        <div class="featured-product__images-variants">
            {% for variant in product.variants %}
                {% if variant.image.src %}
                    <img class="featured-product__variant" src="{{ variant.image.src | img_url }}" alt="Image variant">
                {% endif %}
            {% endfor %}
        </div>
        <div class="featured-product__sizes">
            {% for size_option in product.options_by_name['Size'].values %}
                <label><input type="radio" name="sizes">
                    <option class="featured-product__variant featured-product__variant--size variant-size">{{ size_option }}</option>
                </label>
            {% endfor %}
        </div>
        <product-form>
            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <div class="product-form__buttons">
                    <button
                            type="submit"
                            name="add"
                            class="product-form__submit button {% if block.settings.show_dynamic_checkout
                            and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                        {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                        {{ form | payment_button }}
                    {%- endif -%}
                </div>
            {%- endform -%}
        </product-form>
    </div>
</div>

